.kopjes {
font-size: 2em;
}
body {
background-color: #001133;
color: white;
}
.tips {
font-family: Kaushan Script, Questa Grande, Arial;
font-size: 2em;
color: #FFEE36;
}
.titeltje {
font-size: 3em;
}
